section
	.section-container
		.grid-col-full
			.group.section-heading-wrapper.parent-relative
				.strip.section-heading.strip--special-features.f-left
					h2.sanspro-b.text-uppercase 
						a(href="#") select your star sign
		.grid-col-lg
			.group
				ul.star-list
					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="horoscope-detail.html")
							.star-list__img
								img(src="img/horoscope/test-13-13.svg", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Aries
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="horoscope-detail.html")
							.star-list__img
								img(src="img/horoscope/test-13-13.svg", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Tauruas
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="horoscope-detail.html")
							.star-list__img
								img(src="img/horoscope/test-13-13.svg", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Gemini
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="horoscope-detail.html")
							.star-list__img
								img(src="img/horoscope/test-13-13.svg", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Libra
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="horoscope-detail.html")
							.star-list__img
								img(src="img/horoscope/test-13-13.svg", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Scorpio
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="horoscope-detail.html")
							.star-list__img
								img(src="img/horoscope/test-13-13.svg", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Sagittarius
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="horoscope-detail.html")
							.star-list__img
								img(src="img/horoscope/test-13-13.svg", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Cancer
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="horoscope-detail.html")
							.star-list__img
								img(src="img/horoscope/test-13-13.svg", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Leo
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="horoscope-detail.html")
							.star-list__img
								img(src="img/horoscope/test-13-13.svg", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Virgo
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="horoscope-detail.html")
							.star-list__img
								img(src="img/horoscope/test-13-13.svg", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Capricorn
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="horoscope-detail.html")
							.star-list__img
								img(src="img/horoscope/test-13-13.svg", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Aquarius
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="horoscope-detail.html")
							.star-list__img
								img(src="img/horoscope/test-13-13.svg", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Pisces
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23


		.grid-col-sm
			.group.grid-col-full.mtop-m-20.mtop-t-20.mtop-d-20
				include ../../components/mixins/cards.pug
				+ad-card-275("Advert")
	.section-container
		include ../../components/mixins/cards.pug
		+ad-card-lng("Advert")