section
	.section-container
		.group
			.horoscope-banner.parent-relative
				.horos-left.full-height
					img.image(src="img/horoscope/banner.png", alt="Horoscope")
					//- div
				.horos-right
					h1.sanspro-b.text-white.v-center.top-bar What’s written in the stars for you today ?