header.header-ex.js-header-ex
	.nav-container.header-nav-container.parent-relative.header-nav-container--ex
		.desktop-logo-wrapper.desktop-logo-wrapper--ex
			a(href="index.html")
				img(src="img/logo/m-logo.svg")
		//- .navAd-wrapper.navAd-wrapper--ex
		//- .group.navAd-navbar.navAd-navbar--ex
		.f-left.v-center.navAd-hamburger.navAd-hamburger--ex.js-navAd-hamburger
			div.hamburger
				div.ham
				div.ham
				div.ham

		.mobile-logo-wrapper.f-left.abs-center
			a(href="index.html")
				img(style= "width: 120px; height: 25px;" src="img/logo/m-logo.svg")
					
		h1.f-left.serifpro-reg.exclusive-article-heading The Watershed Scandal
		.search-wrapper.search-wrapper--ex.f-right
			div.parent-relative
				span(id="nav-search-submit")
		.group.search-result.search-result--navbar.search-result--navbar-ex.mtop-m-20.mtop-t-20.mtop-d-20
			form.text-center.search-result--main.parent-relative
				input.search-result__input.search-result--main-search.sanspro-semib(type="text" value="Chennai")
				input.search-result__submit.search-result--main-submit.sanspro-b(type="submit" value="Search")

	.side-nav
		ul.side-nav-list
			li.side-nav-list__items.sanspro-semib
				div.side-nav-list__items--sidemenu
					a(href="").text-uppercase.sanspro-semib Home
					span.side-nav-list__items--accordion-cta
						img(src="img/icons/plus.png", alt="Plus")

				ul.accordion-list
					li.accordion-list__items
						a(href="").sanspro-semib Home1

					li.accordion-list__items
						a(href="").sanspro-semib Home2

					li.accordion-list__items
						a(href="").sanspro-semib Home3

			li.side-nav-list__items.sanspro-semib
				div.side-nav-list__items--sidemenu
					a(href="").text-uppercase.sanspro-semib Nation
					span.side-nav-list__items--accordion-cta
						img(src="img/icons/plus.png", alt="Plus")

				ul.accordion-list
					li.accordion-list__items
						a(href="").sanspro-semib Home1

					li.accordion-list__items
						a(href="").sanspro-semib Home2

					li.accordion-list__items
						a(href="").sanspro-semib Home3

			li.side-nav-list__items.sanspro-semib
				div.side-nav-list__items--sidemenu
					a(href="").text-uppercase.sanspro-semib Karnataka
					span.side-nav-list__items--accordion-cta
						img(src="img/icons/plus.png", alt="Plus")

				ul.accordion-list
					li.accordion-list__items
						a(href="").sanspro-semib Home1

					li.accordion-list__items
						a(href="").sanspro-semib Home2

					li.accordion-list__items
						a(href="").sanspro-semib Home3

			li.side-nav-list__items.sanspro-semib
				div.side-nav-list__items--sidemenu 
					a(href="").text-uppercase.sanspro-semib Bangalore
					span.side-nav-list__items--accordion-cta
						img(src="img/icons/plus.png", alt="Plus")

				ul.accordion-list
					li.accordion-list__items
						a(href="").sanspro-semib Home1

					li.accordion-list__items
						a(href="").sanspro-semib Home2

					li.accordion-list__items
						a(href="").sanspro-semib Home3

			li.side-nav-list__items.sanspro-semib
				div.side-nav-list__items--sidemenu
					a(href="").text-uppercase.sanspro-semib Politics
					span.side-nav-list__items--accordion-cta
						img(src="img/icons/plus.png", alt="Plus")

				ul.accordion-list
					li.accordion-list__items
						a(href="").sanspro-semib Home1

					li.accordion-list__items
						a(href="").sanspro-semib Home2

					li.accordion-list__items
						a(href="").sanspro-semib Home3

			li.side-nav-list__items.sanspro-semib
				div.side-nav-list__items--sidemenu
					a(href="").text-uppercase.sanspro-semib Sports
					span.side-nav-list__items--accordion-cta
						img(src="img/icons/plus.png", alt="Plus")

				ul.accordion-list
					li.accordion-list__items
						a(href="").sanspro-semib Home1

					li.accordion-list__items
						a(href="").sanspro-semib Home2

					li.accordion-list__items
						a(href="").sanspro-semib Home3

		.side-nav__close
			img(src="img/icons/close.png", alt="Close")
	.side-nav-overlay
