footer.section-footer-1
	.section-full.mobile-border
		.section-container
			nav.footer-nav-1.group
				ul
					li.text-uppercase.sanspro-b
						a(href="#") home
					li.text-uppercase.sanspro-b
						a(href="#") nation
					li.text-uppercase.sanspro-b
						a(href="#") bangalore
					li.text-uppercase.sanspro-b
						a(href="#") karnataka
					li.text-uppercase.sanspro-b
						a(href="#") sports
					li.text-uppercase.sanspro-b
						a(href="#") business
					li.text-uppercase.sanspro-b
						a(href="#") politics
					li.text-uppercase.sanspro-b
						a(href="#") opinion
					li.text-uppercase.sanspro-b
						a(href="#") entertainment
					li.text-uppercase.sanspro-b
						a(href="#") features
					li.text-uppercase.sanspro-b
						a(href="#") dh videos
					li.text-uppercase.sanspro-b
						a(href="#") dh videos
	.section-container
		nav.footer-nav-1.footer-nav-1--about.f-left
			ul
				li.sanspro-reg.f-left
					a(href="#") About
				li.sanspro-reg.f-left
					a(href="#") E-Paper
				li.sanspro-reg.f-left
					a(href="#") Archives
				li.sanspro-reg.f-left
					a(href="#") Classifieds
				li.sanspro-reg.f-left
					a(href="#") Contact
				li.sanspro-reg.f-left
					a(href="#") Subscribe
				li.sanspro-reg.f-left
					a(href="#") Subscribe
		ul.social-media-footer.f-right
			li.fb-footer
				a(href="#")
					img(style="width:15px; height:15px" src='img/icons/fb-black.svg')
			li.twitter-footer
				a(href="#")
					img(style="width:15px; height:15px" src='img/icons/twit-black.svg')
			li.insta-footer
				a(href="#")
					img(style="width:15px; height:15px" src='img/icons/insta-black.svg')
	.section-full.section-full--grey
		.section-container.printers-wrapper
			nav.footer-nav-1.footer-nav-1--printers.f-left
				ul
					li.sanspro-reg.f-left
						a(href="#") Printers Mysore
					li.sanspro-reg.f-left
						a(href="#") Prajavani E-paper
					li.sanspro-reg.f-left
						a(href="#") Prajavani
					li.sanspro-reg.f-left
						a(href="#") Sudha
					li.sanspro-reg.f-left
						a(href="#") Mayura
			.f-right.js-printers-desktop
	.section-full.mobile-border(style="display: flex")
		.section-container.terms-wrapper
			nav.footer-nav-1.footer-nav-1--printers.js-terms.f-left
				ul
					li.sanspro-reg.f-left
						a(href="#") Terms
					li.sanspro-reg.f-left
						a(href="#") Privacy Policy
					li.sanspro-reg.f-left
						a(href="#") Disclaimer
	.section-full
		.section-container.copyright-wrapper
			p.sanspro-reg.copyright  &#169; 2017 The Printers (Mysore) Private Ltd