header.dec-header
	.nav-container.header-nav-container.js-header-nav-container
		.desktop-logo-wrapper.js-desktop-logo-wrapper
			a(href="index.html")
				img.image.normal-image.js-normal-image(src="img/logo/d-logo.svg")
				img.image.onscroll-image.js-onscroll-image(src="img/logo/m-logo.svg")
		.navAd-wrapper
			.navAd-navbar.group
				.navAd-hamburger.js-navAd-hamburger.f-left
					div.hamburger
						div.ham
						div.ham
						div.ham
				.mobile-logo-wrapper.f-left.abs-center
					a(href="index.html")
						img(style= "width: 120px; height: 25px;" src="img/logo/m-logo.svg")
				nav.f-left
					ul.h-list.sanspro-reg.group
						li 
							a(href="") Home
						li 
							a(href="") Nation
						li 
							a(href="") Karnataka
						li 
							a(href="") Bangalore
						li 
							a(href="") Politics
						li 
							a(href="") Sports
						li 
							a(href="") Entertainment
						li 
							a(href="") Features
						li 
							a(href="") Tech
						li 
							a(href="") Business
						li 
							a(href="") Opinion
						li 
							a(href="") E-paper
						li 
							a(href="").js-navAd-hamburger All
				//- .login-btn.f-left.sanspro-b
				//- 	a(href="#") LOGIN
				//- div.nav-right-wrapper
				.search-wrapper.f-right
					div.parent-relative
						span(id="nav-search-submit")
				.group.search-result.search-result--navbar.mtop-m-20.mtop-t-20.mtop-d-20
					form.text-center.search-result--main.parent-relative
						input.search-result__input.search-result--main-search.sanspro-semib(type="text" value="Chennai")
						input.search-result__submit.search-result--main-submit.sanspro-b(type="submit" value="Search")
				//- .search-overlay

					//- img(src="img/icons/search.png")
				.trending-wrapper
					a(href="javascript:void(0)")
						img(style="width: 18px; height: 16px;" src="img/icons/trending.svg")
			.subnav-wrapper.group
				ul.subnav-left.f-left
					li.sanspro-reg.f-left.text-uppercase thursday 30 nov 2017
					li.sanspro-b.f-left.text-uppercase updated: 10:46 am ist
				ul.subnav-right
					li.subnav-right__weather.sanspro-reg.f-left
						span.weather-temp 39 &deg; C Clear
						span.weather-image-wrapper
							img(style="width:12px; height: 12px;" src="img/icons/sunny.svg")
					li.sensex.subnav-right__stocks.sanspro-reg.f-left
						span.stocks-value.sanspro-semib Sensex: 33907.9
						span.stocks-change.sanspro-reg +95.6
						span.change-image
							img(style="width:12px;" src="img/icons/up-arrow.svg")
					li.subnav-right__stocks.sanspro-reg.f-left
						span.stocks-value.sanspro-semib Nifty: 33907.9
						span.stocks-change.sanspro-reg +95.6
						span.change-image
							img(style="width:12px;" src="img/icons/down-arrow.svg")
					li.subnav-right__social.f-left
						a(href="#")
							img(style='width: 15px; height: 15px; margin-right: 7px;' src="img/icons/fb-nav.svg")
						a(href="#")
							img(style='width: 15px; height: 15px; margin-right: 7px;' src="img/icons/twitter-nav.svg")
						a(href="#")
							img(style='width: 15px; height: 15px;' src="img/icons/ig-nav.svg")
			.banner-adver-wrapper.group
				div.ad-1024
					img(src="http://via.placeholder.com/970x90", alt="")
				div.ad-320-1023
					img(src="http://via.placeholder.com/320x50", alt="")


	.side-nav
		ul.side-nav-list
			li.side-nav-list__items.sanspro-semib
				div.side-nav-list__items--sidemenu
					a(href="").text-uppercase.sanspro-semib Home
					span.side-nav-list__items--accordion-cta
						//- img(src="img/icons/plus.png", alt="Plus")

				ul.accordion-list
					li.accordion-list__items
						a(href="").sanspro-semib Home1

					li.accordion-list__items
						a(href="").sanspro-semib Home2

					li.accordion-list__items
						a(href="").sanspro-semib Home3

			li.side-nav-list__items.sanspro-semib
				div.side-nav-list__items--sidemenu
					a(href="").text-uppercase.sanspro-semib Nation
					span.side-nav-list__items--accordion-cta
						//- img(src="img/icons/plus.png", alt="Plus")

				ul.accordion-list
					li.accordion-list__items
						a(href="").sanspro-semib Home1

					li.accordion-list__items
						a(href="").sanspro-semib Home2

					li.accordion-list__items
						a(href="").sanspro-semib Home3

			li.side-nav-list__items.sanspro-semib
				div.side-nav-list__items--sidemenu
					a(href="").text-uppercase.sanspro-semib Karnataka
					span.side-nav-list__items--accordion-cta
						//- img(src="img/icons/plus.png", alt="Plus")

				ul.accordion-list
					li.accordion-list__items
						a(href="").sanspro-semib Home1

					li.accordion-list__items
						a(href="").sanspro-semib Home2

					li.accordion-list__items
						a(href="").sanspro-semib Home3

			li.side-nav-list__items.sanspro-semib
				div.side-nav-list__items--sidemenu 
					a(href="").text-uppercase.sanspro-semib Bangalore
					span.side-nav-list__items--accordion-cta
						//- img(src="img/icons/plus.png", alt="Plus")

				ul.accordion-list
					li.accordion-list__items
						a(href="").sanspro-semib Home1

					li.accordion-list__items
						a(href="").sanspro-semib Home2

					li.accordion-list__items
						a(href="").sanspro-semib Home3

			li.side-nav-list__items.sanspro-semib
				div.side-nav-list__items--sidemenu
					a(href="").text-uppercase.sanspro-semib Politics
					span.side-nav-list__items--accordion-cta
						//- img(src="img/icons/plus.png", alt="Plus")

				ul.accordion-list
					li.accordion-list__items
						a(href="").sanspro-semib Home1

					li.accordion-list__items
						a(href="").sanspro-semib Home2

					li.accordion-list__items
						a(href="").sanspro-semib Home3

			li.side-nav-list__items.sanspro-semib
				div.side-nav-list__items--sidemenu
					a(href="").text-uppercase.sanspro-semib Sports
					span.side-nav-list__items--accordion-cta
						//- img(src="img/icons/plus.png", alt="Plus")

				ul.accordion-list
					li.accordion-list__items
						a(href="").sanspro-semib Home1

					li.accordion-list__items
						a(href="").sanspro-semib Home2

					li.accordion-list__items
						a(href="").sanspro-semib Home3

		.side-nav__close
			img(src="img/icons/close.png", alt="Close")
	.side-nav-overlay

	.section-full#just-in-container
		.section-container.just-in-wrapper
			h3.sanspro-semib.just-in-h.text-uppercase just in:
			ul.sanspro-reg.just-in-ul
				li
					a(href="#") Assembly analysis
					span.news-live
						.news-live-animate

				li
					a(href="#") Modi's clarification on Pak remarks
				li
					a(href="#") Prohibition of liquor
				li
					a(href="#") Unity Mantra
				li
					a(href="#") Modi's street cred
				li
					a(href="#") GST 2017
				li
					a(href="#") prohibition of liquor
				li
					a(href="#") Unity mantra