//- script(src="js/plugins/main.js")
//- if(pageName === "home")
script(src="js/main.js")
//- if(pageName === "Sports")
	script(src="js/main.js")
//- mixin script(page_name)
//- 	script(type="text/javascript")
