section
	.section-container#videopolitics-container
		div
			.group.section-heading-wrapper.parent-relative
				.strip.section-heading.strip--politics.f-left
					h2.sanspro-b.text-uppercase 
						a(href="#") politics

			.group
				ul.more-video-lists
					li.grid-col-3
						include ../../components/mixins/cards.pug
						+video-vertical("img/video/army.png", "img", "India open against New Zealand in second leg of hockey tournament", "gray", "politics")
					li.grid-col-3.mtop-m-20
						include ../../components/mixins/cards.pug
						+video-vertical("img/video/army.png", "img", "Back to drawing board for Djokovic", "gray", "politics")
					li.grid-col-3.mtop-m-20
						include ../../components/mixins/cards.pug
						+video-vertical("img/video/army.png", "img", "Back to drawing board for Djokovic", "gray", "politics")
					li.grid-col-3.mtop-m-20.mtop-d-20.mtop-t-20
						include ../../components/mixins/cards.pug
						+video-vertical("img/video/army.png", "img", "Back to drawing board for Djokovic", "gray", "politics")
					li.grid-col-3.mtop-m-20.mtop-d-20.mtop-t-20
						include ../../components/mixins/cards.pug
						+video-vertical("img/video/army.png", "img", "India open against New Zealand in second leg of hockey tournament", "gray", "politics")
					li.grid-col-3.mtop-m-20.mtop-d-20.mtop-t-20
						include ../../components/mixins/cards.pug
						+video-vertical("img/video/army.png", "img", "Back to drawing board for Djokovic", "gray", "politics")

			.group
				+ad-card-lng("Advert", "m-bottom")

			.group
				ul.more-video-lists
					li.grid-col-3
						include ../../components/mixins/cards.pug
						+video-vertical("img/video/army.png", "img", "India open against New Zealand in second leg of hockey tournament", "gray", "politics")
					li.grid-col-3.mtop-m-20
						include ../../components/mixins/cards.pug
						+video-vertical("img/video/army.png", "img", "Back to drawing board for Djokovic", "gray", "politics")
					li.grid-col-3.mtop-m-20
						include ../../components/mixins/cards.pug
						+video-vertical("img/video/army.png", "img", "Back to drawing board for Djokovic", "gray", "politics")
					li.grid-col-3.mtop-m-20.mtop-d-20.mtop-t-20
						include ../../components/mixins/cards.pug
						+video-vertical("img/video/army.png", "img", "Back to drawing board for Djokovic", "gray", "politics")
					li.grid-col-3.mtop-m-20.mtop-d-20.mtop-t-20
						include ../../components/mixins/cards.pug
						+video-vertical("img/video/army.png", "img", "India open against New Zealand in second leg of hockey tournament", "gray", "politics")