include ../../components/mixins/cards.pug
.section-container
	.group
		//- +ad-card-lng("Advert", "m-bottom")
		// should we put it in header tag???
		.group.parent-relative.article-title.js-scrolltop
			div.strap-heading-wrapper
				h2.f-left.sanspro-b.special-features-heading The plum X'mas treats!
				h3.sanspro-reg.strap-heading Dravidian identity should be expanded to all South Indian states: Kamal Haasan
			ul.social-media-icons.social-media-icons--tarticle.f-right
				li
					a(href="#")
						img(src="img/icons/fb-black.svg", alt="" style="width: 16px; height: 16px")

				li
					a(href="#")
						img(src="img/icons/twit-black.svg", alt="" style="width: 16px; height: 16px")

				li.bookmark-items
					a(href="javascript:void(0)")
						//- img(src="img/icons/bookmark.svg", alt="" style="width: 16px; height: 16px")
						svg.bookmarks(width="16px" height="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.06 43.66")
							polygon(points="29.06 42.49 14.53 27.96 0 42.49 0 0 29.06 0 29.06 42.49")

				li.parent-relative
					a(href="#").media-share
						img(src="img/icons/share.svg", alt="" style="width: 16px; height: 16px")
					.share-wrapper.white
						.share-wrapper__media
							span.share-wrapper__title.sanspro-reg Share via
							ul.social-magazine
								li
									a(href="#")
										img(src="img/icons/google-plus.png", alt="Google Plus")
								li
									a(href="#")
										img(src="img/icons/gmail.png", alt="Gmail")
								li
									a(href="#")
										img(src="img/icons/pinterest.png", alt="Pinterest")
								li
									a(href="#")
										img(src="img/icons/linkedin.png", alt="Linkedin")

						.share-wrapper__link
							span.share-wrapper__title.sanspro-reg Share permalink
							input.share-wrapper__input.sanspro-reg(type="text" value="http://www.deccanherald.com/content")

		.group.article-author.parent-relative
			.article-author-wrapper
				img(src="img/articles/rasheed.png", alt="Author")
			.article-author__time
				a(href="#").sanspro-reg.article-author__name Lakshmi Palecanda, 
				span.sanspro-reg.article-author__service DH News service
				ul.crud-items
					li.sanspro-semib.text-uppercase.crud-items__lists Created: 23 Dec 2017 10:46am ist
					li.sanspro-semib.text-uppercase.crud-items__lists updated: 10:46am ist

		.group.article-details-container
			article.group.main-article-wrapper.select-magazine
				figure.article-banner-wrapper.article-banner-wrapper--special-features
					picture
						img(src="img/articles/plum.png" alt="kamal hassan listening to sayari")
					figcaption.sanspro-reg.article-banner-caption Christmas stollen, traditional German, European festive dessert cut into pieces on wooden background.

				.group.article-details-wrapper.f-left.first-letter-lg
					p.article-body-text.serifpro-reg  Winter! holidays! birth of the Christ child! presents! Yes, Christmas is here again! However, there can be no festivity without the inevitable Christmas fruit cake, can there?
					p.article-body-text.serifpro-reg Since the civilisation of man, he has felt the need to celebrate as a community from time to time. And since all of man's activities concern food in one way or the other, all his important events are inextricably linked with food. Therefore, festivals mean special food throughout the world. Honestly, when you think of festivals you celebrated as a child, you might have hazy memories of some rites and rituals. But I'm sure you remember the feasts that followed pretty well.

					//- // START: in article ad
					//- .article-ad-wrapper
					//- 	+ad-card-lng("Advert", "m-bottom")
					//- // END: in article ad

					p.article-body-text.serifpro-reg Who can forget the table groaning with all kinds of delicious concoctions, eating until you're bloated, napping, then eating again?

					p.article-body-text.serifpro-reg For me, Christmas used to be all about rose cookies or acchappam. You see, I'm Hindu and my best friend is Christian. When we were in school, for Deepavali, I would give her the sweet that was made at home, i.e., Mysore Rock, sorry, make that Mysore Pak. And on Christmas, she would give me their house Christmas special – chakkulis and rose cookies. Those days, chakkulis were available in the market, but not rose cookies, which were hard to make. My friend's family would make this very hard recipe only for this occasion, so I always looked forward to Christmas.

					p.article-body-text.serifpro-reg It is actually the same throughout the world. The food that is prepared to celebrate the birth of Christ is usually elaborate and labour-intensive. The ingredients used may be seasonal or special in some other way; they may be expensive, or part of the local culture. But the one thing common to all is tradition.

					h3.serifpro-reg.magazine-heading Anchor to the past

					blockquote.group.section-container.section-container--ex.group.serifpro-reg.without-quotes.without-quotes--special-features "One thing I can see clearly now is that I was wrong in not acting more decisively and more forthrightly in dealing with Watergate, particularly when it reached the stage of judicial proceedings and grew from a political scandal into a national tragedy," Nixon said in accepting the pardon.

					p.article-body-text.serifpro-reg In the former Polish-Lithuanian Commonwealth, i.e., Poland, Ukraine and Lithuania, they have an elaborate meal of 12 meatless dishes on Christmas Eve to signify fasting, which is broken on Christmas Day. As a part of their Slavic culture, they honour their ancestors by setting a place at the table and dishing out food for them.

					p.article-body-text.serifpro-reg While lamb or mutton is common throughout the world, in Norway, a whole sheep's head is served salted and dried, smoked and boiled or steamed, for the Christmas feast. In nearby Sweden, they have a Swedish julebord or 'Christmas table', with glazed ham. Janssons frestelse (Jansson's temptation) is a potato gratin dish made with pickled anchovies, sprats or small herrings, which are a Christmas favourite. Meanwhile, in Iceland, they usually have laufabraud or leaf bread, which is a crisp flatbread. All these countries enjoy mulled wine called glogg.

					h3.serifpro-reg.magazine-heading Closer to home

					p.article-body-text.serifpro-reg The Japanese don't actually celebrate Christmas. But they do have a tradition of dining out… in KFC! You have to take out reservations in advance because the restaurant can be booked weeks in advance. You can even have expensive packages with table service and alcohol. And in the US, American Jews have a habit of eating in Chinese restaurants, mainly because all others are usually closed.

					blockquote.serifpro-reg.with-quotes.with-quotes--magazine Who can forget the table groaning with all kinds of delicious concoctions, eating until you're bloated, napping, then eating again?

					p.article-body-text.serifpro-reg India too has its own Christmas traditional foods. Syrian Christian tradition is duck roast, homemade grape wine, and plum cake. Goans love to eat sorpotel, a thick curry made a few days ahead with pork and liver, and served with pulav or sannas or rice cakes. Meanwhile, Anglo-Indians love homemade ham and stew made with mutton or beef and vegetables. In all feasts, wines made at home from gooseberry, grape, ginger, lemon and even jackfruit are a must.

					figure.article-banner-wrapper.article-banner-wrapper--special-features
						picture
							img(src="img/articles/sweet.png" alt="Bebinca")
						figcaption.sanspro-reg.article-banner-caption Bebinca, a multilayered Goan pudding made with eggs

					p.article-body-text.serifpro-reg India too has its own Christmas traditional foods. Syrian Christian tradition is duck roast, homemade grape wine, and plum cake. Goans love to eat sorpotel, a thick curry made a few days ahead with pork and liver, and served with pulav or sannas or rice cakes. Meanwhile, Anglo-Indians love homemade ham and stew made with mutton or beef and vegetables. In all feasts, wines made at home from gooseberry, grape, ginger, lemon and even jackfruit are a must.

					p.article-body-text.serifpro-reg The Japanese don't actually celebrate Christmas. But they do have a tradition of dining out… in KFC! You have to take out reservations in advance because the restaurant can be booked weeks in advance. You can even have expensive packages with table service and alcohol.

					aside.f-left.magazine-aside-img
						img(src="img/articles/cake.png", alt="Cake")

					p.article-body-text.serifpro-reg Anglo-Indian families have their own recipes for Christmas cake, which are usually handed down generations. The candied fruit to be used in such cakes - plums, currants, raisins and orange peel - are cut and soaked in rum or brandy a few weeks ahead of actual use. There is one other Christmas tradition throughout the world when it comes to food – sharing! No one goes to great lengths to prepare their special, time-honoured recipes to eat by themselves. Sharing adds a taste, a spice, a piquancy that transforms a good meal into a great memory.

					p.article-body-text.serifpro-reg You can even have expensive packages with table service and alcohol. And in the US, American Jews have a habit of eating in Chinese restaurants, mainly because all others are usually closed.

					p.article-body-text.serifpro-reg Christmas is a time to share good cheer, happy times and hope for the future. May your Christmas be full of cheer and sharing! Merry Christmas and a Happy New Year to you!

					.group
						ul.tag-lists
							li
								span.sanspro-reg ISRO

							li
								span.sanspro-reg Moon Express

							li
								span.sanspro-reg GLXP Challenge

					.group.beamer.section-container.js-beamer
						.beam-me-up-scotty.beam-me-up-scotty--relative
							img(src="img/icons/Up_arrow_black.svg")

					//- // START: in article ad
					//- .article-ad-wrapper
					//- 	+ad-card-lng("Advert", "m-bottom")
					//- // END: in article ad

				ul.social-media-icons.social-media-icons--foot.f-left
					li
						a(href="#")
							img(src="img/icons/fb-black.svg", alt="" style="width: 16px; height: 16px")

					li
						a(href="#")
							img(src="img/icons/twit-black.svg", alt="" style="width: 16px; height: 16px")

					li.bookmark-items
						a(href="javascript:void(0)")
							//- img(src="img/icons/bookmark.svg", alt="" style="width: 16px; height: 16px")
							svg.bookmarks(width="16px" height="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.06 43.66")
								polygon(points="29.06 42.49 14.53 27.96 0 42.49 0 0 29.06 0 29.06 42.49")

					li.parent-relative
						a(href="#").media-share
							img(src="img/icons/share.svg", alt="" style="width: 16px; height: 16px")
						.share-wrapper.white.share-wrapper--left
							.share-wrapper__media
								span.share-wrapper__title.sanspro-reg Share via
								ul.social-magazine
									li
										a(href="#")
											img(src="img/icons/google-plus.png", alt="Google Plus")
									li
										a(href="#")
											img(src="img/icons/gmail.png", alt="Gmail")
									li
										a(href="#")
											img(src="img/icons/pinterest.png", alt="Pinterest")
									li
										a(href="#")
											img(src="img/icons/linkedin.png", alt="Linkedin")

							.share-wrapper__link
								span.share-wrapper__title.sanspro-reg Share permalink
								input.share-wrapper__input.sanspro-reg(type="text" value="http://www.deccanherald.com/content")

				.group.article-author.article-author--foot.parent-relative
					.article-author-wrapper
						img(src="img/articles/rasheed.png", alt="Author")
					.article-author__time
						a(href="#").sanspro-reg.article-author__name Rasheed Kappan, 
						span.sanspro-reg.article-author__service is a Special Correspondent with Deccan Herald for the past five years.
				.group.article-author__connect
					h3.sanspro-semib Contact us on this story
					ul
						li.article-author__email
							a.article-author__social-connect(href="mailto:rasheedk@gmail.com")
								img(src="img/icons/sent-mail.svg", alt="Email" style="width: 16px; height:16px;")
								span.sanspro-reg Rasheedk@gmail.com

						li.article-author__email
							a.article-author__social-connect(href="javascript:void(0)")
								img(src="img/icons/twit-brand.svg", alt="Twitter" style="width: 16px; height:16px;")
								span.sanspro-reg @rasheedk


			.group.related-article-wrapper
				.group
					.group.parent-relative.grid-col-full.section-heading-wrapper
						.group.strip.section-heading.strip--magazine
							h2.sanspro-b.text-uppercase
								a(href="#") More from the author

					.group.f-left(style="width: 100%;")
						ul.notab-snippets.notab-snippets--business
							li
								include ../../components/mixins/cards.pug
								+snippet-lists("img/home/science-molten.png", "img", "What is the message earth is trying to send us")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists("img/home/sports-list-saina.png", "img", "Players have to level up")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists("img/home/business-mrp.png", "img", "Online retails dont have it easy")

				.group.grid-col-full.mtop-d-20.mtop-m-20.mtop-t-20.article-adver
					include ../../components/mixins/cards.pug
					+ad-card-250("Advert")

				.group.grid-col-full.mtop-d-20.mtop-m-20.mtop-t-20.article-adver
					include ../../components/mixins/cards.pug
					+ad-card-250("Advert")

				.group.parent-relative.grid-col-full.section-heading-wrapper.section-heading-wrapper--tweet-block
					.group.section-heading.mtop-m-nostrip.mtop-t-nostrip.mtop-m-nostrip.mtop-t-nostrip.mtop-d-nostrip
						h2.sanspro-b.text-uppercase
							a(href="#").twitter-feed-cta
								img.twitter-feed-cta__img(src="img/icons/twitter.png", alt="Twitter")
								|social feed
				.tweet-card

				.group.grid-col-full.mtop-d-20.mtop-m-20.mtop-t-20.article-adver
					include ../../components/mixins/cards.pug
					+bg-widget-card("./img/icons/pen.svg", "Would you like to contribute to this story ?", "Mail in")

				.group.grid-col-full.mtop-d-20.mtop-m-20.mtop-t-20.article-adver
					include ../../components/mixins/cards.pug
					+ad-card-250("Advert")


