.article-social-fixed
	div.parent-relative
		ul.social-media-icons.social-media-icons--fixed.white
			li
				a(href="#")
					img(src="img/icons/fb-black.svg", alt="" style="width: 16px; height: 16px")

			li
				a(href="#")
					img(src="img/icons/twit-black.svg", alt="" style="width: 16px; height: 16px")

			li.bookmark-items
				a(href="javascript:void(0)")
					//- img(src="img/icons/bookmark.svg", alt="" style="width: 16px; height: 16px")
					svg.bookmarks(width="16px" height="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.06 43.66")
						polygon(points="29.06 42.49 14.53 27.96 0 42.49 0 0 29.06 0 29.06 42.49")

			li.parent-relative
				a(href="#").media-share
					img(src="img/icons/share.svg", alt="" style="width: 16px; height: 16px")
				.share-wrapper.white.share-wrapper--left.share-wrapper--left-fixed
					.share-wrapper__media
						span.share-wrapper__title.sanspro-reg Share via
						ul.social-magazine
							li
								a(href="#")
									img(src="img/icons/google-plus.png", alt="Google Plus")
							li
								a(href="#")
									img(src="img/icons/gmail.png", alt="Gmail")
							li
								a(href="#")
									img(src="img/icons/pinterest.png", alt="Pinterest")
							li
								a(href="#")
									img(src="img/icons/linkedin.png", alt="Linkedin")

					.share-wrapper__link
						span.share-wrapper__title.sanspro-reg Share permalink
						input.share-wrapper__input.sanspro-reg(type="text" value="http://www.deccanherald.com/content")
