section
	.section-container
		.group
			.author-banner.parent-relative(style="background-image: url('./img/author/author-banner.png')")
				h1.sanspro-b.text-white.v-center.top-bar We are the storytellers of Karnataka