section
	.section-container
		.grid-col-lg.grid-col-lg--video
			.group.parent-relative.grid-col-full.section-heading-wrapper
					.group.strip.section-heading.strip--journo
						h2.sanspro-b.text-uppercase
							a(href="#") Editors

			.group
				.slider-gran
					ul.group.editor-ul.slider-parent
						li.grid-col-3.slide-wrapper.slide-wrapper--author.mtop-m-20.mtop-t-20.mtop-d-20.editor-lists
							a(href="author-details.html")
								img(src="img/author/editor-1.png", alt="Editor Name")
								h4.editor-lists__name.sanspro-semib Akansha Kapoor
								span.editor-lists__designation.sanspro-reg Editor, City

						li.grid-col-3.slide-wrapper.slide-wrapper--author.mtop-m-20.mtop-t-20.mtop-d-20.editor-lists
							a(href="author-details.html")
								img(src="img/author/editor-1.png", alt="Editor Name")
								h4.editor-lists__name.sanspro-semib Akansha Kapoor
								span.editor-lists__designation.sanspro-reg Editor, City

						li.grid-col-3.slide-wrapper.slide-wrapper--author.mtop-m-20.mtop-t-20.mtop-d-20.editor-lists
							a(href="author-details.html")
								img(src="img/author/editor-1.png", alt="Editor Name")
								h4.editor-lists__name.sanspro-semib Akansha Kapoor
								span.editor-lists__designation.sanspro-reg Editor, City

						li.grid-col-3.slide-wrapper.slide-wrapper--author.mtop-m-20.mtop-t-20.mtop-d-20.editor-lists
							a(href="author-details.html")
								img(src="img/author/editor-1.png", alt="Editor Name")
								h4.editor-lists__name.sanspro-semib Akansha Kapoor
								span.editor-lists__designation.sanspro-reg Editor, City

						li.grid-col-3.slide-wrapper.slide-wrapper--author.mtop-m-20.mtop-t-20.mtop-d-20.editor-lists
							a(href="author-details.html")
								img(src="img/author/editor-1.png", alt="Editor Name")
								h4.editor-lists__name.sanspro-semib Akansha Kapoor
								span.editor-lists__designation.sanspro-reg Editor, City

						li.grid-col-3.slide-wrapper.slide-wrapper--author.mtop-m-20.mtop-t-20.mtop-d-20.editor-lists
							a(href="author-details.html")
								img(src="img/author/editor-1.png", alt="Editor Name")
								h4.editor-lists__name.sanspro-semib Akansha Kapoor
								span.editor-lists__designation.sanspro-reg Editor, City

		.grid-col-sm.f-right
			.group.parent-relative.grid-col-full.section-heading-wrapper.mtop-m-20.mtop-t-20
				.group.strip.section-heading.strip--journo
					h2.sanspro-b.text-uppercase
						a(href="#") journalist of the day
			.group
				include ../../components/mixins/cards.pug
				+square-img-card("img/home/journalist-madhuri.png", "img", "Madhuri Rao", "feature editor")

			.group.grid-col-full.mtop-m-20.mtop-t-20.mtop-d-20
				include ../../components/mixins/cards.pug
				+ad-card-250("Advert")
