section
	.section-container
		.group.parent-relative.grid-col-full.section-heading-wrapper
				.group.strip.section-heading.strip--journo
					h2.sanspro-b.text-uppercase
						a(href="#") team b

		.group
			.slider-gran
				ul.group.editor-ul.editor-ul--team.slider-parent
					li.f-left.slide-wrapper.slide-wrapper--author.mtop-m-20.mtop-t-20.mtop-d-20.editor-lists
						a(href="author-details.html")
							img(src="img/author/editor-1.png", alt="Editor Name")
							h4.editor-lists__name.sanspro-semib Akansha Kapoor
							span.editor-lists__designation.sanspro-reg Editor, City

					li.f-left.slide-wrapper.slide-wrapper--author.mtop-m-20.mtop-t-20.mtop-d-20.editor-lists
						a(href="author-details.html")
							img(src="img/author/editor-1.png", alt="Editor Name")
							h4.editor-lists__name.sanspro-semib Akansha Kapoor
							span.editor-lists__designation.sanspro-reg Editor, City

					li.f-left.slide-wrapper.slide-wrapper--author.mtop-m-20.mtop-t-20.mtop-d-20.editor-lists
						a(href="author-details.html")
							img(src="img/author/editor-1.png", alt="Editor Name")
							h4.editor-lists__name.sanspro-semib Akansha Kapoor
							span.editor-lists__designation.sanspro-reg Editor, City

					li.f-left.slide-wrapper.slide-wrapper--author.mtop-m-20.mtop-t-20.mtop-d-20.editor-lists
						a(href="author-details.html")
							img(src="img/author/editor-1.png", alt="Editor Name")
							h4.editor-lists__name.sanspro-semib Akansha Kapoor
							span.editor-lists__designation.sanspro-reg Editor, City

					li.f-left.slide-wrapper.slide-wrapper--author.mtop-m-20.mtop-t-20.mtop-d-20.editor-lists
						a(href="author-details.html")
							img(src="img/author/editor-1.png", alt="Editor Name")
							h4.editor-lists__name.sanspro-semib Akansha Kapoor
							span.editor-lists__designation.sanspro-reg Editor, City

					li.f-left.slide-wrapper.slide-wrapper--author.mtop-m-20.mtop-t-20.mtop-d-20.editor-lists
						a(href="author-details.html")
							img(src="img/author/editor-1.png", alt="Editor Name")
							h4.editor-lists__name.sanspro-semib Akansha Kapoor
							span.editor-lists__designation.sanspro-reg Editor, City