include ../../components/mixins/cards.pug
article
	.group.parent-relative.exclusive-banner(style="background: url(img/exclusive/banner.png) center center; background-size: cover;background-repeat: no-repeat;")
		h1.serifpro-b.h-center.article-banner-heading The Watershed Scandal
	div.parent-relative.select-exclusive.js-select-exclusive
		.group.section-container.section-container--ex.exclusive-details
			.group.article-author.relative-main
				.article-author-wrapper
					img(src="img/articles/rasheed.png", alt="Author")
				.article-author__time
					a(href="#").sanspro-reg.article-author__name Rasheed Kappan, 
					span.sanspro-reg.article-author__service DH News service
					ul.crud-items
						li.sanspro-semib.text-uppercase.crud-items__lists Created: 23 Dec 2017 10:46am ist
						li.sanspro-semib.text-uppercase.crud-items__lists updated: 10:46am ist
			.group
				.ex-heading-wrapper
					h2.group.serifpro-reg.ex-article-heading A look back at the crisis that changed USA politics
					h3.sanspro-reg.strap-heading Dravidian identity should be expanded to all South Indian states: Kamal Haasan
			.group.ex-article-body.first-letter-lg
				p.serifpro-reg.article-body-text More than four decades ago, five men broke into Democratic National Committee headquarters in Washington, setting off a series of actions that brought down Republican President Richard Nixon.

				p.serifpro-reg.article-body-text What became known as the Watergate scandal uncovered an intricate trail of wrongdoing, one that went all the way to the White House. The burglary and ensuing scandal led to the only resignation of a US president, changed American politics forever and became a synonym for government corruption.

				p.serifpro-reg.article-body-text What became known as the Watergate scandal uncovered an intricate trail of wrongdoing, one that went all the way to the White House. The burglary and ensuing scandal led to the only resignation of a US president, changed American politics forever and became a synonym for government corruption.
				
				h3.serifpro-reg.ex-article-body__heading 'Deep Throat'

				p.serifpro-reg.article-body-text What became known as the Watergate scandal uncovered an intricate trail of wrongdoing, one that went all the way to the White House. The burglary and ensuing scandal led to the only resignation of a US president, changed American politics forever and became a synonym for government corruption.

				p.serifpro-reg.article-body-text Washington Post reporters Carl Bernstein and Bob Woodward jumped on the story after the break-in.With the help of a source known as "Deep Throat," later identified as FBI official Mark Felt, they wrote a series of groundbreaking articles on the Watergate scandal. "It was not about a break-in, a single break-in," Bernstein told CNN in 2003. "It was about a pattern of illegal activities involving beating up members of the political opposition physically, stealing their memos, wiretapping political opponents, breaking into offices of psychiatrists, firebombing think tanks." Months after the break-in, some of the burglars pleaded guilty and were convicted of conspiracy and other charges.

				//- // START: in article ad
				//- .group.article-ad-wrapper.article-ad-wrapper--ex
				//- 	+ad-card-lng("Advert", "m-bottom")
				//- // END: in article ad

				p.serifpro-reg.article-body-text What became known as the Watergate scandal uncovered an intricate trail of wrongdoing, one that went all the way to the White House. The burglary and ensuing scandal led to the only resignation of a US president, changed American politics forever and became a synonym for government corruption.

				//- // START: in article ad
				//- .article-ad-wrapper.article-ad-wrapper--250.group
				//- 	+ad-card-250("Advert", "m-bottom")
				//- // END: in article ad

				h3.serifpro-reg.ex-article-body__heading 'Resignation'

				p.serifpro-reg.article-body-text What became known as the Watergate scandal uncovered an intricate trail of wrongdoing, one that went all the way to the White House. The burglary and ensuing scandal led to the only resignation of a US president, changed American politics forever and became a synonym for government corruption. What became known as the Watergate scandal uncovered an intricate trail of wrongdoing, one that went all the way to the White House. The burglary and ensuing scandal led to the only resignation of a US president, changed American politics forever and became a synonym for government corruption.

				blockquote.serifpro-reg.with-quotes Always remember, others may hate you, but those who hate you don't win unless you hate them, and you destroy yourself

				p.serifpro-reg.article-body-text What became known as the Watergate scandal uncovered an intricate trail of wrongdoing, one that went all the way to the White House. The burglary and ensuing scandal led to the only resignation of a US president, changed American politics forever and became a synonym for government corruption. What became known as the Watergate scandal uncovered an intricate trail of wrongdoing, one that went all the way to the White House. The burglary and ensuing scandal led to the only resignation of a US president, changed American politics forever and became a synonym for government corruption.

		.group
			figure.group.ex-imgslider-wrapper
				ul.exlusive-img-slider
					li
						figure
							img.image(src="img/exclusive/nix.png")
							figcaption.sanspro-reg.text-center.article-banner-caption 1974, Nixon resigns as president of the United States of America

					li
						figure
							img.image(src="img/exclusive/nix.png")
							figcaption.sanspro-reg.text-center.article-banner-caption 1974, Nixon resigns as president of the United States of America
		.group.section-container.section-container--ex.exclusive-details

			h3.serifpro-reg.ex-article-body__heading 'Resignation'

			p.serifpro-reg.article-body-text What became known as the Watergate scandal uncovered an intricate trail of wrongdoing, one that went all the way to the White House. The burglary and ensuing scandal led to the only resignation of a US president, changed American politics forever and became a synonym for government corruption. What became known as the Watergate scandal uncovered an intricate trail of wrongdoing, one that went all the way to the White House. The burglary and ensuing scandal led to the only resignation of a US president, changed American politics forever and became a synonym for government corruption.

			blockquote.group.group.serifpro-reg.without-quotes "One thing I can see clearly now is that I was wrong in not acting more decisively and more forthrightly in dealing with Watergate, particularly when it reached the stage of judicial proceedings and grew from a political scandal into a national tragedy," Nixon said in accepting the pardon.

			p.serifpro-reg.article-body-text In May 1973, the Senate Select Committee on Presidential Campaign Activities, headed by Senator Sam Ervin of North Carolina, began televised proceedings on the rapidly escalating Watergate affair. One week later, Harvard law professor Archibald Cox was sworn in as special Watergate prosecutor. During the Senate hearings, former White House legal counsel John Dean testified that the Watergate break-in had been approved by former Attorney General John Mitchell with the knowledge of White House advisers John Ehrlichman and H.R. Haldeman, and that President Nixon had been aware of the cover-up. Meanwhile, Watergate prosecutor Cox and his staff began to uncover widespread evidence of political espionage by the Nixon reelection committee, illegal wiretapping of thousands of citizens by the administration, and contributions to the Republican Party in return for political favors.

			//- // START: in article ad
			//- .article-ad-wrapper.article-ad-wrapper--250.group
			//- 	+ad-card-250("Advert", "m-bottom")
			//- // END: in article ad

			p.serifpro-reg.article-body-text In July, the existence of what were to be called the Watergate tapes–official recordings of White House conversations between Nixon and his staff–was revealed during the Senate hearings. Cox subpoenaed these tapes, and after three months of delay President Nixon agreed to send summaries of the recordings. Cox rejected the summaries, and Nixon fired him. His successor as special prosecutor, Leon Jaworski, leveled indictments against several high-ranking administration officials, including Mitchell and Dean, who were duly convicted.
		
		.group
			figure.ex-article-flow
				div(style="background:url(img/exclusive/nix.png) center center; background-size: cover; background-attachment: fixed;").parent-relative.ex-article-flow__image.text-uppercase
					h2.h-center.ex-article-flow__text.text-center Parallax is awesome
				figcaption.text-center.sanspro-reg.article-banner-caption.ex-article-flow__cation "Parallax will bring world peace", says president nixon before starting his speech

		.group.section-container.section-container--ex.exclusive-details
			p.serifpro-reg.article-body-text Public confidence in the president rapidly waned, and by the end of July 1974 the House Judiciary Committee had adopted three articles of impeachment against President Nixon: obstruction of justice, abuse of presidential powers, and hindrance of the impeachment process. On July 30, under coercion from the Supreme Court, Nixon finally released the Watergate tapes. On August 5, transcripts of the recordings were released, including a segment in which the president was heard instructing Haldeman to order the FBI to halt the Watergate investigation. Three days later, Nixon announced his resignation.
			
			// START: Side image
			aside.f-left.magazine-aside-img.magazine-aside-img--ex
				img.ex-aside-img(src="img/articles/cake.png", alt="Cake")
			// END: Side image

			p.serifpro-reg.article-body-text In May 1973, the Senate Select Committee on Presidential Campaign Activities, headed by Senator Sam Ervin of North Carolina, began televised proceedings on the rapidly escalating Watergate affair. One week later, Harvard law professor Archibald Cox was sworn in as special Watergate prosecutor. During the Senate hearings, former White House legal counsel John Dean testified that the Watergate break-in had been approved by former Attorney General John Mitchell with the knowledge of White House advisers.



			p.serifpro-reg.article-body-text Public confidence in the president rapidly waned, and by the end of July 1974 the House Judiciary Committee had adopted three articles of impeachment against President Nixon: obstruction of justice, abuse of presidential powers, and hindrance of the impeachment process. On July 30, under coercion from the Supreme Court, Nixon finally released the Watergate tapes. On August 5, transcripts of the recordings were released, including a segment in which the president was heard instructing Haldeman to order the FBI to halt the Watergate investigation. Three days later, Nixon announced his resignation.

			.group
				ul.tag-lists
					li
						span.sanspro-reg ISRO

					li
						span.sanspro-reg Moon Express

					li
						span.sanspro-reg GLXP Challenge

		.group.beamer.section-container.section-container--ex.js-beamer
			.beam-me-up-scotty
				img(src="img/icons/Up_arrow_black.svg")

		
	.group.section-container.section-container--ex.exclusive-details.select-exclusive
		//- // START: in article ad
		//- .article-ad-wrapper
		//- 	+ad-card-lng("Advert", "m-bottom")
		//- // END: in article ad

		ul.social-media-icons.social-media-icons--foot.f-left
			li
				a(href="#")
					img(src="img/icons/fb-black.svg", alt="" style="width: 16px; height: 16px")

			li
				a(href="#")
					img(src="img/icons/twit-black.svg", alt="" style="width: 16px; height: 16px")

			li.bookmark-items
				a(href="javascript:void(0)")
					//- img(src="img/icons/bookmark.svg", alt="" style="width: 16px; height: 16px")
					svg.bookmarks(width="16px" height="16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.06 43.66")
						polygon(points="29.06 42.49 14.53 27.96 0 42.49 0 0 29.06 0 29.06 42.49")

			li.parent-relative
				a(href="#").media-share
					img(src="img/icons/share.svg", alt="" style="width: 16px; height: 16px")
				.share-wrapper.white.share-wrapper--left
					.share-wrapper__media
						span.share-wrapper__title.sanspro-reg Share via
						ul.social-magazine
							li
								a(href="#")
									img(src="img/icons/google-plus.png", alt="Google Plus")
							li
								a(href="#")
									img(src="img/icons/gmail.png", alt="Gmail")
							li
								a(href="#")
									img(src="img/icons/pinterest.png", alt="Pinterest")
							li
								a(href="#")
									img(src="img/icons/linkedin.png", alt="Linkedin")

					.share-wrapper__link
						span.share-wrapper__title.sanspro-reg Share permalink
						input.share-wrapper__input.sanspro-reg(type="text" value="http://www.deccanherald.com/content")
		.group.article-author.article-author--foot.parent-relative
			.article-author-wrapper
				img(src="img/articles/rasheed.png", alt="Author")
			.article-author__time
				a(href="#").sanspro-reg.article-author__name Rasheed Kappan, 
				span.sanspro-reg.article-author__service is a Special Correspondent with Deccan Herald for the past five years.
		.group.article-author__connect
			h3.sanspro-semib Contact us on this story
			ul
				li.article-author__email
					a.article-author__social-connect(href="mailto:rasheedk@gmail.com")
						img(src="img/icons/sent-mail.svg", alt="Email" style="width: 16px; height:16px;")
						span.sanspro-reg Rasheedk@gmail.com

				li.article-author__email
					a.article-author__social-connect(href="javascript:void(0)")
						img(src="img/icons/twit-brand.svg", alt="Twitter" style="width: 16px; height:16px;")
						span.sanspro-reg @rasheedk
	



















