include ../../components/mixins/cards.pug
section#gallery-nation-container
	.section-container
		.group.parent-relative.grid-col-full.section-heading-wrapper
			.group.strip.section-heading.strip--photo-gallery
				h2.sanspro-b.text-uppercase
					a(href="#") nation
				.view-link.f-right.sanspro-reg
					a.text-uppercase(href="#") view all
		.group
			ul.gallery-listing
				li
					+photo-gallery-card("img/home/top-stories-big-card.png", "img", "People watch fireworks exploding over Copaca-bana beach during New Year's celebrations in Rio de Janerio")
				li.mtop-m-20
					+photo-gallery-card("img/home/top-stories-big-card.png", "img", "People watch fireworks exploding over Copaca-bana beach during New Year's celebrations in Rio de Janerio")
				li.mtop-m-20.mtop-t-20
					+photo-gallery-card("img/home/top-stories-big-card.png", "img", "People watch fireworks exploding over Copaca-bana beach during New Year's celebrations in Rio de Janerio")
				li.mtop-m-20.mtop-d-20.mtop-t-20
					+photo-gallery-card("img/home/top-stories-big-card.png", "img", "People watch fireworks exploding over Copaca-bana beach during New Year's celebrations in Rio de Janerio")
				li.mtop-m-20.mtop-d-20.mtop-t-20
					+photo-gallery-card("img/home/top-stories-big-card.png", "img", "People watch fireworks exploding over Copaca-bana beach during New Year's celebrations in Rio de Janerio")
				li.mtop-m-20.mtop-d-20.mtop-t-20
					+photo-gallery-card("img/home/top-stories-big-card.png", "img", "People watch fireworks exploding over Copaca-bana beach during New Year's celebrations in Rio de Janerio")
