include ../../components/mixins/cards.pug
section#gallery-more-container
	.section-container
		.group.parent-relative.grid-col-full.section-heading-wrapper
			.group.strip.section-heading.strip--photo-gallery
				h2.sanspro-b.text-uppercase
					a(href="#") more sections
		.group
			ul.more-section-wrapper
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
				li
					a.sanspro-semib(href="#") 50-50 WC Cricket
