section#sports-live-container
	.section-container
			.group.parent-relative.grid-col-full.section-heading-wrapper
					.group.section-heading.strip.strip--sports
						h2.sanspro-b.text-uppercase
							a(href="#") Cricket - SA V IND
			.group
				.group.grid-d-quarter
					include ../../components/mixins/cards.pug
					+large-vertical("img/home/election-queue.png", "img", "BJP Starts Preparations For Gujarat Local Bodies Polls", "5 hours ago", "gray", "sports")
				
				.group.grid-d-quarter.mtop-m-20
					include ../../components/mixins/cards.pug
					+large-vertical("img/home/election-queue.png", "img", "On Caste and Identity Politics in Gujarat Elections", "5 hours ago", "gray", "sports")

				.group.grid-d-quarter.mtop-m-20.mtop-t-20
					include ../../components/mixins/cards.pug
					+nopic-card("Yes, Modi won - But Gujarat shows 2019 is wide open", "1 hour ago", "white", "sports", "sports")
					
			.group
				.grid-d-quarter.mtop-t-20
					.group.parent-relative.grid-col-full.section-heading-wrapper
						.group.section-heading.section-heading--nostrip.mtop-m-20.mtop-t-20.mtop-d-20
							h2.sanspro-b.text-uppercase
								span.news-live.news-live__mright
									.news-live-animate
								a(href="#") live score
					.group.score-card
						h4.text-uppercase.sanspro-semib international
						p.sanspro-reg 2nd test, Ind tour at Centurion
						div.team-wrapper
							.team.team-1.parent-relative
								span.team-flag
									img(src="img/icons/rsa.png")
								span.text-uppercase.sanspro-semib.team-name.v-center SA
								span.sanspro-reg.team-score.f-right.v-center 233, 239
							.team.team-2.parent-relative
								span.team-flag
									img(src="img/icons/india.png")
								span.text-uppercase.sanspro-semib.team-name.v-center Ind
								span.sanspro-reg.team-score.f-right.v-center 234, 98/8
						p.sanspro-reg Day 4: Stumps - India need God's help to win

				.grid-col-lg.mtop-m-20.mtop-t-20
					.grid-d-full
						.group.parent-relative.grid-col-full.section-heading-wrapper
							.group.section-heading.section-heading--nostrip.mtop-m-20.mtop-t-20.mtop-d-20
								h2.sanspro-b.text-uppercase
									span.news-live.news-live__mright
										.news-live-animate
									a(href="#") live updates
						.grid-col-full.live-updates-comment__election
							.updates-wrapper.updates-wrapper--sports
								ul.updates-wrapper-list
									li.updates-wrapper-list__items
										span.sanspro-b 18:25
										.data
											h3.sanspro-semib Test the Feed
											.description
												p.sanspro-semib Jnanabutti, free coaching centre, relaunched with new shelter after two years
												p.sanspro-semib The JD(S), which is looking at intensifying its campaigning activities, has hired an external agency to train and provide its candidates for the upcoming Assembly polls with innovative concepts to push forward it's 'Kumaraswamy for CM' campaign.
									li.updates-wrapper-list__items
										span.sanspro-b 16:17
										.data
											.description
												p.sanspro-semib
													| Facebook - The team will also be renting out LED vans to each candidate, who will be asked to deploy it across his/her constituency. The vans with LED screens will showcase the candidate, and also display videos on Kumaraswamy's achievements, contribution
									li.updates-wrapper-list__items
										span.sanspro-b 13:36
										.data
											p.sanspro-semib
												| Twitter - Candidates, including the sitting MLAs and MLCs were present during the presentation. The agency, which will be setting up an office in Bengaluru, is said to have devised similar campaigning strategies in other states too.






			//- .group.live-updates-comment
			//- 	.group.parent-relative.grid-col-full.section-heading-wrapper
			//- 		.group.section-heading.section-heading--nostrip.mtop-m-20.mtop-t-20.mtop-d-20
			//- 			h2.sanspro-b.text-uppercase
			//- 				span.news-live.news-live__mright
			//- 				a(href="#") live updates

			//- 	.grid-col-full.live-updates-comment__election
			//- 		.updates-wrapper(class="mCustomScrollbar" data-mcs-theme="dark")
			//- 			ul.updates-wrapper-list
			//- 				li.updates-wrapper-list__items
			//- 					span.sanspro-b 5:31pm
			//- 					p.sanspro-semib The BJP and its allies have secured two-thirds majority in 403-member UP assembly. The BJP has won 262 seats, its allies Apna Dal (S) eight and Suheldev Bharatiya Samaj Party, four.

			//- 				li.updates-wrapper-list__items
			//- 					span.sanspro-b 5:37pm
			//- 					p.sanspro-semib Uttarakhand chief minister Harish Rawat, who lost both the assembly seats he contested, has submitted his resignation to Governor K.K. Paul, while attributing the party’s “poor” show in the assembly elections to “flaws in his own leadership”.

			//- 				li.updates-wrapper-list__items
			//- 					span.sanspro-b 5:48pm
			//- 					p.sanspro-semib Prime Minister thanks Rahul Gandhi on Twitter after the latter congratulated him on the UP election victory.

			//- 				li.updates-wrapper-list__items
			//- 					span.sanspro-b 6:00pm
			//- 					p.sanspro-semib The victory margin between Congress and BJP this time is massive as they were neck and neck in the last assembly polls with BJP winning only one seat less than Congress which formed government with the help of six-member PDF.

			//- 				li.updates-wrapper-list__items
			//- 					span.sanspro-b 6:20pm
			//- 					p.sanspro-semib BJP. Bahuguna's son Saurav had been fielded by the saffron party from his father's Sitarganj constituency which he won. 

			//- 				li.updates-wrapper-list__items
			//- 					span.sanspro-b 5:48pm
			//- 					p.sanspro-semib People were sick of the rule of corruption, fear and loot and voted for Narendra Modi's and  Amit Shah's all-inclusive development agenda said Bhatt.
			//- 				li.updates-wrapper-list__items
			//- 					span.sanspro-b 5:48pm
			//- 					p.sanspro-semib People were sick of the rule of corruption, fear and loot and voted for Narendra Modi's and  Amit Shah's all-inclusive development agenda said Bhatt.
			//- 				li.updates-wrapper-list__items
			//- 					span.sanspro-b 5:48pm
			//- 					p.sanspro-semib People were sick of the rule of corruption, fear and loot and voted for Narendra Modi's and  Amit Shah's all-inclusive development agenda said Bhatt.




