section#panbangalore-container
	.section-container
		.grid-col-lg
			.group.parent-relative.grid-col-full.section-heading-wrapper
					.group.strip.section-heading.strip--city
						h2.sanspro-b.text-uppercase
							a(href="#") pan bangalore
			.grid-col-half
				ul.sm-hr-card-list
					li.sm-hr-card-list__items
						include ../../components/mixins/cards.pug
						+small-horizontal("img/home/science-dna.png", "img", "Scientists to study structure of alien hypothetical dna", "5 hours ago", "gray")
					li.sm-hr-card-list__items.mtop-m-20.mtop-t-20.mtop-d-20
						include ../../components/mixins/cards.pug
						+small-horizontal("img/home/science-alien.png", "img", "Something interstellar but not so alien is coming", "4 hours ago", "gray")
			.grid-col-half.notab-snippets-mtop
				ul.notab-snippets.notab-snippets--graybg.mtop-m-20
					li
						include ../../components/mixins/cards.pug
						+snippet-lists("img/home/science-solistic.png", "img", "You might not be here without the solistices and seasons")
					li
						include ../../components/mixins/cards.pug
						+snippet-lists("img/home/science-molten.png", "img", "Earth's molten heart may not be sending messages")
					li
						include ../../components/mixins/cards.pug
						+snippet-lists("img/home/science-molecule.png", "img", "Molecular movement generates patterns")
		.grid-col-sm.mtop-m-20.mtop-t-20
			.group.parent-relative.grid-col-full.section-heading-wrapper
				.group.strip.section-heading.strip--photo-gallery
					h2.sanspro-b.text-uppercase
						a(href="#") photo gallery
			.group.grid-col-full
				include ../../components/mixins/cards.pug
				+photo-gallery-card("img/home/crackers.png", "Crackers", "People watch fireworks exploding over Copaca-bana beach during New Year's celebrations in Rio de Janerio")