section
	.section-container
		.group
			.section-full
				.grid-col-lg.grid-col-lg--video
					.archive-results
						.group.parent-relative.grid-col-full.section-heading-wrapper
							.group.section-heading.strip.strip--special-features
								h2.sanspro-b.text-uppercase
									a(href="#") top stories
						ul.notab-snippets.notab-snippets--business.notab-snippets--search-result.clear
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/science-molten.png", "img", "Gujarat results raise questions on Modi’s credibility", "3 hours ago")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/sports-list-saina.png", "img", "Bowling with Kukkaburra will be a challenge: Bhuvi", "3 hours ago")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/business-mrp.png", "img", "Gujarat results raise questions on Modi’s credibility", "3 hours ago")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/science-molten.png", "img", "Gujarat results raise questions on Modi’s credibility", "3 hours ago")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/sports-list-saina.png", "img", "Bowling with Kukkaburra will be a challenge: Bhuvi", "3 hours ago")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/business-mrp.png", "img", "Gujarat results raise questions on Modi’s credibility", "3 hours ago")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/business-mrp.png", "img", "Gujarat results raise questions on Modi’s credibility", "3 hours ago")
					.archive-results
						.group.parent-relative.grid-col-full.section-heading-wrapper
							.group.section-heading.strip.strip--politics
								h2.sanspro-b.text-uppercase
									a(href="#") politics
						ul.notab-snippets.notab-snippets--business.notab-snippets--search-result.clear
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/science-molten.png", "img", "Gujarat results raise questions on Modi’s credibility", "3 hours ago")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/sports-list-saina.png", "img", "Bowling with Kukkaburra will be a challenge: Bhuvi", "3 hours ago")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/business-mrp.png", "img", "Gujarat results raise questions on Modi’s credibility", "3 hours ago")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/science-molten.png", "img", "Gujarat results raise questions on Modi’s credibility", "3 hours ago")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/sports-list-saina.png", "img", "Bowling with Kukkaburra will be a challenge: Bhuvi", "3 hours ago")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/business-mrp.png", "img", "Gujarat results raise questions on Modi’s credibility", "3 hours ago")
							li
								include ../../components/mixins/cards.pug
								+snippet-lists-big("img/home/business-mrp.png", "img", "Gujarat results raise questions on Modi’s credibility", "3 hours ago")

				.grid-col-sm.f-right
					.group.parent-relative.grid-col-full.section-heading-wrapper
						.group.section-heading.strip.strip--special-features
							h2.sanspro-b.text-uppercase
								a(href="#") cartoon of the day

					.group.grid-col-full
						include ../../components/mixins/cards.pug
						+square-img-nobg("img/section-feature/cartoon.png", "Cartoon")

					.group.grid-col-full.mtop-d-20.mtop-m-20.mtop-t-20.article-adver
						include ../../components/mixins/cards.pug
						+ad-card-250("Advert")

					.group.parent-relative.grid-col-full.section-heading-wrapper.section-heading-wrapper--tweet-block
						.group.section-heading.mtop-m-nostrip.mtop-t-nostrip.mtop-m-nostrip.mtop-t-nostrip.mtop-d-nostrip
							h2.sanspro-b.text-uppercase
								a(href="#").twitter-feed-cta
									img.twitter-feed-cta__img(src="img/icons/twitter.png", alt="Twitter")
									|social feed
					.tweet-card


