.section-container
	.grid-col-full
		ul.group.breadcrumb-list
			li.f-left
				a(href="#").sanspro-reg Home

			li.active.f-left
				a(href="#").sanspro-reg Horoscope

	include ../../components/mixins/cards.pug
	+ad-card-lng("Advert")