section
	.section-container
		.grid-col-lg
			.group.section-heading-wrapper.parent-relative.horoscope-bottom
				.strip.section-heading.strip--special-features.f-left
					h2.text-uppercase 
						a.sanspro-b(href="#") aquarius
						span.sanspro-reg &nbsp;- 8 feb 2017
				select.f-right
					option(value="Pick another sign") Pick another sign
					option(value="Aries") Aries
					option(value="Taurus") Taurus
					option(value="Leo") Leo

			.group.clear
				ul.lucky-lists
					li
						span.sanspro-semib Lucky color:&nbsp;
						span.sanspro-reg Green
					li
						span.sanspro-semib Lucky gem:&nbsp;
						span.sanspro-reg Topaz
					li
						span.sanspro-semib Lucky number:&nbsp;
						span.sanspro-reg Five

				aside.f-left.magazine-aside-img
					img.ex-aside-img.ex-aside-img--horos-inner(src="img/horoscope/test-13-13.svg", alt="Horoscope")
				
				.group
					.tabs
						ul.tab-links.group.sanspro-reg.tab-links--horoscope
							li.active
								a.text-capitalize.sanspro-semib(href="#daily") Daily
							li
								a.text-capitalize.sanspro-semib(href="#weekly") weekly
							li
								a.text-capitalize.sanspro-semib(href="#yearly") yearly
						.horoscope-content
							.active.tab#daily
								p.serifpro-reg.horoscope-desc It’s a great week for you. Those who have been looking at travelling abroad might get a good opportunity. While there is an increase in the pressure, expectations and quantum of work at your job, you are happy to find suitable challenges and prove your potential. You are likely to be quite introspective now. It may be a time where your usual distractions may not work.
								p.serifpro-reg.horoscope-desc It’s a great week for you. Those who have been looking at travelling abroad might get a good opportunity. While there is an increase in the pressure, expectations and quantum of work at your job, you are happy to find suitable challenges and prove your potential.It’s a great week for you. Those who have been looking at travelling abroad might get a good opportunity. While there is an increase in the pressure, expectations and quantum of work at your job, you are happy to find suitable challenges and prove your potential. You are likely to be quite introspective now. It may be a time where your usual distractions may not work. You may seek out a mentor for guidance. Those who have difficult relationships at the moment may try to work it out. There may be greater work and running around to do as the week ends. 

	
							.tab#weekly
								p.serifpro-reg.horoscope-desc Those who have been looking at travelling abroad might get a good opportunity. While there is an increase in the pressure, expectations and quantum of work at your job, you are happy to find suitable challenges and prove your potential. You are likely to be quite introspective now. It’s a great week for you.  It may be a time where your usual distractions may not work.
								p.serifpro-reg.horoscope-desc It’s a great week for you. Those who have been looking at travelling abroad might get a good opportunity. While there is an increase in the pressure, expectations and quantum of work at your job, you are happy to find suitable challenges and prove your potential.It’s a great week for you. Those who have been looking at travelling abroad might get a good opportunity. While there is an increase in the pressure, expectations and quantum of work at your job, you are happy to find suitable challenges and prove your potential. You are likely to be quite introspective now. It may be a time where your usual distractions may not work. You may seek out a mentor for guidance. Those who have difficult relationships at the moment may try to work it out. There may be greater work and running around to do as the week ends.

							.tab#yearly
								p.serifpro-reg.horoscope-desc Those who have been looking at travelling abroad might get a good opportunity. While there is an increase in the pressure, expectations and quantum of work at your job, you are happy to find suitable challenges and prove your potential. You are likely to be quite introspective now. It may be a time where your usual distractions may not work.It’s a great week for you. 
								p.serifpro-reg.horoscope-desc It’s a great week for you. Those who have been looking at travelling abroad might get a good opportunity. While there is an increase in the pressure, expectations and quantum of work at your job, you are happy to find suitable challenges and prove your potential.It’s a great week for you. Those who have been looking at travelling abroad might get a good opportunity. While there is an increase in the pressure, expectations and quantum of work at your job, you are happy to find suitable challenges and prove your potential. You are likely to be quite introspective now. It may be a time where your usual distractions may not work. You may seek out a mentor for guidance. Those who have difficult relationships at the moment may try to work it out. There may be greater work and running around to do as the week ends.

		.grid-col-sm
			.group.grid-col-full.mtop-m-20.mtop-t-20.mtop-d-20
				include ../../components/mixins/cards.pug
				+ad-card-275("Advert")



section
	.section-container
		.grid-col-lg
			.group.section-heading-wrapper.parent-relative
				.strip.section-heading.strip--special-features.f-left
					h2.sanspro-b.text-uppercase 
						a(href="#") explore other signs


			.group
				ul.star-list
					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="")
							.star-list__img
								img(src="img/horoscope/leo.png", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Aries
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="")
							.star-list__img
								img(src="img/horoscope/leo.png", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Tauruas
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="")
							.star-list__img
								img(src="img/horoscope/leo.png", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Gemini
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23

					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20.star-list__items
						a(href="")
							.star-list__img
								img(src="img/horoscope/leo.png", alt="Leo")
							h3.star-list__title.sanspro-semib.text-center Libra
							span.star-list__month.sanspro-reg.text-center July 23 to Aug 23



