section#relatedvideo-container.very-light-gray.overlapped-container
	.section-container
		div
			.group.section-heading-wrapper.parent-relative
				.strip.section-heading.strip--special-features.f-left
					h2.sanspro-b.text-uppercase 
						a(href="#") Related Videos

			.group
				.slider-gran
					ul.slider-parent
						li.grid-col-3.slide-wrapper.mtop-m-20.mtop-t-20.mtop-d-20
							include ../../components/mixins/cards.pug
							+video-vertical("img/video/army.png", "img", "India open against New Zealand in second leg of hockey tournament", "white", "video")
						li.grid-col-3.slide-wrapper.mtop-m-20.mtop-t-20.mtop-d-20
							include ../../components/mixins/cards.pug
							+video-vertical("img/video/army.png", "img", "Back to drawing board for Djokovic", "white", "video")
						li.grid-col-3.slide-wrapper.mtop-m-20.mtop-t-20.mtop-d-20
							include ../../components/mixins/cards.pug
							+video-vertical("img/video/army.png", "img", "Back to drawing board for Djokovic", "white", "video")
						li.grid-col-3.slide-wrapper.mtop-m-20.mtop-t-20.mtop-d-20
							include ../../components/mixins/cards.pug
							+video-vertical("img/video/army.png", "img", "'Bat-nav' reveals how the brain tracks other animals", "white", "video")
						li.grid-col-3.slide-wrapper.mtop-m-20.mtop-t-20.mtop-d-20
							include ../../components/mixins/cards.pug
							+video-vertical("img/video/army.png", "img", "From deep space and inside earth", "white", "video")
						li.grid-col-3.slide-wrapper.mtop-m-20.mtop-t-20.mtop-d-20
							include ../../components/mixins/cards.pug
							+video-vertical("img/video/army.png", "img", "Assessing the performance of photo voltaic modules", "white", "video")