section
	.section-container
		.grid-col-lg
			.group.parent-relative.timeline-video-detail
				span.f-left.sanspro-reg DH News service, Dec 23 2017,23:42 IST
				ul.social-media-icons.social-media-icons--vdetail
					li
						a(href="#")
							img(src="img/icons/fb-black.svg", alt="" style="width: 16px; height: 16px")

					li
						a(href="#")
							img(src="img/icons/twit-black.svg", alt="" style="width: 16px; height: 16px")

					li
						a(href="#")
							img(src="img/icons/insta-black.svg", alt="" style="width: 16px; height: 16px")

			.video-detail-about
				.group.section-heading
					h2.sanspro-b.text-uppercase about

				p.sanspro-reg NASA is planning a special screening of the latest Star Wars film for astronauts onboard the International Space Station (ISS).According to a NASA official, 'Star Wars: The Last Jedi' will be screened for the crew members aboard the orbital space laboratory."(I) can confirm the crew will be able to watch it on orbit," NASA Public Affairs Officer Dan Huot was quoted as saying by Inverse.

				p.sanspro-reg However, there is no timetable on when this screening will take place."Don't have a definitive timeline yet. They typically get movies as digital files and can play them back on a laptop or a standard projector that is currently aboard," Huot said.



		.grid-col-sm.f-right
			include ../../components/mixins/cards.pug
			+ad-card-275("Advert")
