section#exclusive-section
	.section-container.parent-relative.exclusive-container
		a(href="exclusive.html")
			.exclusive-banner-image
				img.image(src="img/exclusive/machu.jpg")
			.exclusive-details-b
				.exclusive-details-b__tag.text-uppercase.sanspro-semib dh exclusive
				h2.exclusive-details-b__heading.serifpro-semib Discovering new trails in Machu Picchu
				p.exclusive-details-b__author.sanspro-reg By 
					span.text-uppercase ajith athirady
				p.exclusive-details-b__text.sanspro-reg Explore Machu Picchu holidays and discover the best time and places to visit. For many visitors to Peru and  even South America, a visit to the Inca city highpoint of their trip...