section#special-features-container.overlapping-container.nobottom-padding
	.box-container
		.section-container
			.group
				.grid-col-lg
					.group.parent-relative.grid-col-full.section-heading-wrapper
							.group.strip.section-heading.strip--politics.sticky-parent
								h2.sanspro-b.text-uppercase
									a(href="#") politics
								.view-link.f-right.sanspro-reg
									a.text-uppercase(href="#") view all
					.grid-col-half
						include ../../components/mixins/cards.pug
						+large-vertical("img/home/2018-02-05.png", "img", "Rajinikanth to enter politics", "2 hours ago", "gray", "politics")
					.grid-col-half
						ul.sm-hr-card-list
							li.sm-hr-card-list__items.mtop-m-20
								include ../../components/mixins/cards.pug
								+small-horizontal("img/home/politics-trump.png", "img", "I have a nuclear button on my table says Trump", "4 hours ago", "gray")
							li.sm-hr-card-list__items.mtop-m-20.mtop-t-20.mtop-d-20
								include ../../components/mixins/cards.pug
								+small-horizontal("img/home/politics-kim.png", "img", "The nuclear tweet wars are about to begin", "5 hours ago", "gray")
				.grid-col-sm
					.group.parent-relative.grid-col-full.section-heading-wrapper.section-heading-wrapper--tweet-block
						.group.section-heading.mtop-m-nostrip.mtop-t-nostrip
							h2.sanspro-b.text-uppercase
								a(href="#").twitter-feed-cta
									img.twitter-feed-cta__img(src="img/icons/twitter.png", alt="Twitter")
									|social feed
					.tweet-card


			include ../../components/mixins/cards.pug
			+ad-card-lng("http://via.placeholder.com/970x90")
				