.archives-info {
	@include font(15px, #333);
	clear: both;

	@media (min-width: $sm) {
		@include font(17px, null);
	}
}
.archives-date {
	border: 1px solid #e6e6e6;
    height: 49px;
    margin-top: 20px;
    padding: 5px 15px;
    text-align: center;
    @include font(17px, #333);
}
.datepicker-submit {
	width: 87px;
	display: block;
	background-color: $special-f-dark;
}
.archives-note {
	position: relative;
	padding: 14px 0 !important;
	border-bottom: 0 !important;
	@include font(15px, #333);

	&:before {
		position: absolute;
	    left: -20px;
	    top: 50%;
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	    content: "";
	    background: #000000;
	    height: 10px;
	    width: 3px;
	}

}
.notab-snippets--archive-note {
	padding: 8px 20px !important;
}
.previous-archives {
	color: #0070be;
}
.wrap-date {
	display: inline-block;
	 & a {
	 	display: inline-block;
	 	padding: 13px 12px 10px 12px;
	 	border: 1px solid #e6e6e6;
	 }
	 & img {
	 	vertical-align: middle;
	 }
}
.flatpickr-current-month {
	& .cur-month, & .cur-year{
		font-family: 'Source Sans Pro', sans-serif !important;
		font-weight: 600 !important;
	}
}
.flatpickr-weekday, .flatpickr-day {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 600 !important;
}
.notify-date {
	position: fixed;
	right: 50px;
	bottom: 50px;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: all ease .4s;
	padding: 25px 30px;
    z-index: 1;
    box-shadow: 0 1px 3px #e3e3e3;
    border: 2px solid rgba(1, 98, 180, 0.57);
    color: #0162b4;
    border-radius: 3px;
	&.js-active {
		transform: translateY(0px);
		opacity: 1;
		visibility: visible;
	}
}
.notify-close {
	position: absolute;
    top: 7px;
    right: 14px;
}