section.nobottom-padding.overlapping-container
	.box-container
		.section-container
			.group
				.group.parent-relative.grid-col-full.section-heading-wrapper
					.group.strip.section-heading.section-heading--nostrip
						h2.sanspro-b.text-uppercase
							a(href="#") You may also like
					.view-link.f-right.sanspro-reg
						a.text-uppercase(href="#") 
							img(src="img/home/outbrain.png", alt="Outbrain")

			.grid-col-100
				ul
					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20
						include ../../components/mixins/cards.pug
						+outbrain("img/home/politics-trump.png", "img", "I have a nuclear button on my table says Trump", "Cisco")
					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20
						include ../../components/mixins/cards.pug
						+outbrain("img/home/politics-kim.png", "img", "The nuclear tweet wars are about to begin", "Magic Crate")
					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20
						include ../../components/mixins/cards.pug
						+outbrain("img/home/politics-trump.png", "img", "I have a nuclear button on my table says Trump", "Cisco")
					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20
						include ../../components/mixins/cards.pug
						+outbrain("img/home/politics-kim.png", "img", "The nuclear tweet wars are about to begin", "Magic Crate")
					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20
						include ../../components/mixins/cards.pug
						+outbrain("img/home/politics-trump.png", "img", "I have a nuclear button on my table says Trump", "Cisco")
					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20
						include ../../components/mixins/cards.pug
						+outbrain("img/home/politics-kim.png", "img", "The nuclear tweet wars are about to begin", "Magic Crate")
					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20
						include ../../components/mixins/cards.pug
						+outbrain("img/home/politics-trump.png", "img", "I have a nuclear button on my table says Trump", "Cisco")
					li.col-grid-4.mtop-m-20.mtop-t-20.mtop-d-20
						include ../../components/mixins/cards.pug
						+outbrain("img/home/politics-kim.png", "img", "The nuclear tweet wars are about to begin", "Magic Crate")
