.section-container
	.grid-col-full
		ul.group.breadcrumb-list
			li.f-left
				a(href="index.html").sanspro-reg Home

			li.f-left
				a(href="author.html").sanspro-reg Authors

			li.active.f-left
				a(href="#").sanspro-reg Rasheed Kappan