section#author-stories
	.section-container
		.group.parent-relative.grid-col-full.section-heading-wrapper
				.group.strip.section-heading.section-heading--nostrip
					h2.sanspro-b.text-uppercase
						a(href="#") stories by rasheed kappan
		ul.group.author-stories
			li.grid-col-3
				ul.sm-hr-card-list
					li.sm-hr-card-list__items
						include ../../components/mixins/cards.pug
						+small-horizontal("img/home/science-dna.png", "img", "Scientists to study structure of alien hypothetical dna", "5 hours ago", "gray")
					li.sm-hr-card-list__items.mtop-m-20.mtop-t-20.mtop-d-20
						include ../../components/mixins/cards.pug
						+small-horizontal("img/home/science-alien.png", "img", "Something interstellar but not so alien is coming", "4 hours ago", "gray")

			li.grid-col-3.mtop-m-20
				ul.sm-hr-card-list
					li.sm-hr-card-list__items
						include ../../components/mixins/cards.pug
						+small-horizontal("img/home/science-dna.png", "img", "Scientists to study structure of alien hypothetical dna", "5 hours ago", "gray")
					li.sm-hr-card-list__items.mtop-m-20.mtop-t-20.mtop-d-20
						include ../../components/mixins/cards.pug
						+small-horizontal("img/home/science-alien.png", "img", "Something interstellar but not so alien is coming", "4 hours ago", "gray")

			li.grid-col-3.mtop-m-20.mtop-t-20.mtop-t-20
				ul.notab-snippets.notab-snippets--graybg
					li
						include ../../components/mixins/cards.pug
						+snippet-lists("img/home/science-solistic.png", "img", "You might not be here without the solistices and seasons")
					li
						include ../../components/mixins/cards.pug
						+snippet-lists("img/home/science-molten.png", "img", "Earth's molten heart may not be sending messages")
					li
						include ../../components/mixins/cards.pug
						+snippet-lists("img/home/science-molecule.png", "img", "Molecular movement generates patterns")
		include ../../components/mixins/cards.pug
		+ad-card-lng("Advert")