h1 {
	color: teal;
}
.ul {
	&__li {
		color: red;
		&__span {
			background: black;
			color: #fff;
		}
	}
}
#joj {
	color: yellow;
}
#klj {
	font-size: 34px;
}
.loalaoa {
	// color: green;
	// font-weight: bold;
}
.red {
	color: $science-dark;

}
.green {
	color: #32CD32;
}
.blue {
	color: #0000FF;
}
.yellow {
	color: #d6ff00
}
.teal {
	color: #56ae67;
}
