include ../../components/mixins/cards.pug
section#gallery-album-container
	.section-container
		.group.parent-relative.grid-col-full.section-heading-wrapper
			.group.strip.section-heading.strip--photo-gallery
				h2.sanspro-b.text-uppercase
					a(href="#") nation
				h3.album-caption.sanspro-semib People watch fireworks
		.group.f-left
			.album-photos-banner
				a(href="#")
					img.image(src="img/home/top-stories-big-card.png")
			ul.album-photos-wrapper
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
				li(data-sub-html="<h4>Clowns</h4><p>Shaking hands.</p>")
					a(href="#")
						img.image(src="img/home/top-stories-big-card.png")
